body { 
  margin: 0; 
  padding: 0; 
  font-family: 'Open Sans', sans-serif; 
  color: #3498db;
  width: 320px;
  height: 480px;
  margin: auto;
}

input {
  font-size: 31px;
  padding: 3px 10px;
  border: 0;
  border-bottom: 2px solid #3498db;
  margin: 0 15px;
  width: 84%;
  outline: 0;
  text-align: right;
  border-radius: 0;
  color: #3498db;
}

::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; }
::-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }

#cont { 
  padding-top: 40px;
  width: 320px;
  height: 440px;
  position: relative;
  border: 1px solid #eee;
  margin-top: 20px;
   margin: auto;
}

.numpad { 
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 320px;
}

.numpad button {
  font-size: 15px;
  float: left;
  list-style: none;
  text-align: center;
  height: 65px;
  padding-top: 15px;
  width: 33.33%;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}